@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  /* margin: 0;
  padding: 0; */
  font-family: "Montserrat", sans-serif;
  line-height: calc(1em + 0.5rem);
  /* border: 1px solid black; */
}

html {
  scroll-behavior: smooth;
}
html,
body {
  margin: 0;
  padding: 0;
  background: #f1f6f9;
}

header {
  background: #394867;
  color: #f1f6f9;
  font-weight: 700;
  display: block;
}
header .logo {
  font-size: 60px;
}
header ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header ul li {
  margin: 0;
}
header ul li a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: #f1f6f9;
}
header li a:hover {
  background: rgba(0, 0, 0, 0.1);
}

#imgContainer {
  position: relative;
  text-align: center;
  object-fit: cover;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  color: #f1f6f9;
}
.center * {
  margin: 0;
}

.contentContainer {
  display: flex;
}

#contentIntro {
  margin: 1vh 1vw;
  padding: 1vh 1vw;
  border-radius: 16px;
  text-align: center;
  flex: 4;
}

.containerPic {
  display: flex;
}
.containerPic .fa-solid {
  margin: 0 1vw 0 5vw;
}
.containerContent {
  display: flex;
  flex: 3;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}
.containerPicContent {
  flex: 1;
  display: flex;
  position: relative;
  justify-content: center;
  background: url("/images/wave-haikei.svg");
  border-radius: 16px;
}
#picPod2 {
  filter: drop-shadow(0 1rem 1rem rgba(0, 0, 0, 1));
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background: transparent;
  color: #f1f6f9;
  text-align: center;
}
.containerPicContent:hover .overlay {
  opacity: 1;
}

.containerDescription {
  margin: 2vh 0vw;
  padding: 2vh 4vw;
  background: #212a3e;
  color: #f1f6f9;
  /* text-align: center; */
}
/* #podPic {
  position: absolute;
  left: 80%;
} */
